.Home{
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.39);
    /* background: url(../../assets/food.jpg); */
}

.Wrap{
    width: 95%;
    height: max-content;
    min-height: 80.6vh;
    display: flex;

}

.homeText{
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1{
        width: 50%;
        font-size: 38px;
    }

    span{
        font-size: 22px;
    }
    h3{
        color: white;
    }

    button{
        width: 20%;
        height: 30px;
        margin-top: 10%;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
}
.homeImg{
    width: 60%;
    height: 70vh;

    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

@media (max-width: 768px) {

    .Wrap{
        gap: 30px;
        align-items: center;
    }
    .homeText{
        width: 50%;
        h1{
            width: 100%;
        font-size: 30px;
        }

        button{
            height: 30px;
            width: 80%;
        }
    }

    .homeImg{
        width: 50%;

    }
}